<div class="container">
	<h1><span id="hour"><%= @hour %></span> : <span id="minute"><%= @minute %></span> : <span id="second"><%= @second %></span></h1>

	<a id="hexy" href="#"><h2>#<%= @colour %></h2></a>
	<ul id="values">
	</ul>
</div>
